<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    RewriteEngine On

    Redirect 301 /directions/pots/rectangular_pots/68 https://elitvid.com/napravleniya/kashpo/pryamougolnye/kolonna
    Redirect 301 /directions/pots/rectangular_pots/69 https://elitvid.com/napravleniya/kashpo/pryamougolnye/box
    Redirect 301 /directions/pots/rectangular_pots/70 https://elitvid.com/napravleniya/kashpo/pryamougolnye/corob
    Redirect 301 /directions/pots/square_pots/67 https://elitvid.com/napravleniya/kashpo/kvadratnye/cube
    Redirect 301 /directions/pots/square_pots/87 https://elitvid.com/napravleniya/kashpo/kvadratnye/piramida
    Redirect 301 /directions/pots/round_pots/71 https://elitvid.com/napravleniya/kashpo/kruglye/cylinder
    Redirect 301 /directions/pots/round_pots/72 https://elitvid.com/napravleniya/kashpo/kruglye/cylinder-xl
    Redirect 301 /directions/pots/round_pots/73 https://elitvid.com/napravleniya/kashpo/kruglye/xenon-cylinder
    Redirect 301 /directions/pots/round_pots/74 https://elitvid.com/napravleniya/kashpo/kruglye/cone
    Redirect 301 /directions/pots/round_pots/75 https://elitvid.com/napravleniya/kashpo/kruglye/ellips
    Redirect 301 /directions/pots/round_pots/76 https://elitvid.com/napravleniya/kashpo/kruglye/vase
    Redirect 301 /directions/pots/round_pots/77 https://elitvid.com/napravleniya/kashpo/kruglye/vason
    Redirect 301 /directions/pots/round_pots/78 https://elitvid.com/napravleniya/kashpo/kruglye/conus
    Redirect 301 /directions/pots/round_pots/79 https://elitvid.com/napravleniya/kashpo/kruglye/amphora
    Redirect 301 /directions/pots/round_pots/81 https://elitvid.com/napravleniya/kashpo/kruglye/verona-40
    Redirect 301 /directions/pots/round_pots/82 https://elitvid.com/napravleniya/kashpo/kruglye/verona-70
    Redirect 301 /directions/pots/round_pots/83 https://elitvid.com/napravleniya/kashpo/kruglye/verona-100
    Redirect 301 /directions/pots/round_pots/85 https://elitvid.com/napravleniya/kashpo/kruglye/verona-140
    Redirect 301 /directions/pots/round_pots/86 https://elitvid.com/napravleniya/kashpo/kruglye/verona-120
    Redirect 301 /directions/pots/round_pots/88 https://elitvid.com/napravleniya/kashpo/kruglye/bevel
    Redirect 301 /directions/pots/round_pots/89 https://elitvid.com/napravleniya/kashpo/kruglye/round-colomn
    Redirect 301 /directions/pots/round_pots/90 https://elitvid.com/napravleniya/kashpo/kruglye/bochka
    Redirect 301 /directions/pots/round_pots/91 https://elitvid.com/napravleniya/kashpo/kruglye/bonsai
    Redirect 301 /directions/pots/round_pots/92 https://elitvid.com/napravleniya/kashpo/kruglye/topper
    Redirect 301 /directions/pots/round_pots/93 https://elitvid.com/napravleniya/kashpo/kruglye/bowl
    Redirect 301 /directions/pots/round_pots/94 https://elitvid.com/napravleniya/kashpo/kruglye/barrel
    Redirect 301 /directions/pots/round_pots/96 https://elitvid.com/napravleniya/kashpo/kruglye/plate
    Redirect 301 /directions/benches/stones_benches/26 https://elitvid.com/napravleniya/skami/stones/stones-trehstoronnyaya-sk-101-lv
    Redirect 301 /directions/benches/stones_benches/27 https://elitvid.com/napravleniya/skami/stones/stones-dvuhstoronnyaya-sk-102-lv
    Redirect 301 /directions/benches/stones_benches/28 https://elitvid.com/napravleniya/skami/stones/stones-triangle-sk-103-l
    Redirect 301 /directions/benches/stones_benches/29 https://elitvid.com/napravleniya/skami/stones/stones-treugolnik-sk-104-l
    Redirect 301 /directions/benches/stones_benches/30 https://elitvid.com/napravleniya/skami/stones/stones-bout-sk-105-l
    Redirect 301 /directions/benches/stones_benches/31 https://elitvid.com/napravleniya/skami/stones/stones-round-skr-106-lv-skr-107-lv-skr-108-lv
    Redirect 301 /directions/benches/stones_benches/32 https://elitvid.com/napravleniya/skami/stones/stones-round-sk-109-lv
    Redirect 301 /directions/benches/stones_benches/33 https://elitvid.com/napravleniya/skami/stones/stones-round-sk-110-lv
    Redirect 301 /directions/benches/stones_benches/34 https://elitvid.com/napravleniya/skami/stones/stones-drop-sk-111
    Redirect 301 /directions/benches/stones_benches/35 https://elitvid.com/napravleniya/skami/stones/stones-sk-112-sk-113
    Redirect 301 /directions/benches/stones_benches/36 https://elitvid.com/napravleniya/skami/stones/stones-sk-114-l-sk-115-l
    Redirect 301 /directions/benches/stones_benches/37 https://elitvid.com/napravleniya/skami/stones/stones-sk-116
    Redirect 301 /directions/benches/stones_benches/38 https://elitvid.com/napravleniya/skami/stones/stones-pouf-skr-117-skr-118-l
    Redirect 301 /directions/benches/stones_benches/39 https://elitvid.com/napravleniya/skami/stones/stones-pouf-cub-sk-119-l
    Redirect 301 /directions/benches/stones_benches/40 https://elitvid.com/napravleniya/skami/stones/stones-pouf-skr-120-l
    Redirect 301 /directions/benches/stones_benches/42 https://elitvid.com/napravleniya/skami/stones/stones-quadro-sk-121-lv
    Redirect 301 /directions/benches/stones_benches/73 https://elitvid.com/napravleniya/skami/stones/stones-drop-sk-121
    Redirect 301 /directions/benches/lines_benches/43 https://elitvid.com/napravleniya/skami/lines/bronx-sk-201-sk-202
    Redirect 301 /directions/benches/lines_benches/44 https://elitvid.com/napravleniya/skami/lines/bronx-sk-203-l-sk-204-l
    Redirect 301 /directions/benches/lines_benches/45 https://elitvid.com/napravleniya/skami/lines/bronx-sk-205-lb-sk-206-lb
    Redirect 301 /directions/benches/lines_benches/46 https://elitvid.com/napravleniya/skami/lines/liverpool-sk-207-l
    Redirect 301 /directions/benches/lines_benches/47 https://elitvid.com/napravleniya/skami/lines/liverpool-sk-208-l
    Redirect 301 /directions/benches/lines_benches/48 https://elitvid.com/napravleniya/skami/lines/liverpool-sk-209-lb
    Redirect 301 /directions/benches/lines_benches/49 https://elitvid.com/napravleniya/skami/lines/bern-sk-210-l
    Redirect 301 /directions/benches/lines_benches/50 https://elitvid.com/napravleniya/skami/lines/bern-sk-211
    Redirect 301 /directions/benches/lines_benches/51 https://elitvid.com/napravleniya/skami/lines/madrid-sk-212
    Redirect 301 /directions/benches/lines_benches/52 https://elitvid.com/napravleniya/skami/lines/madrid-constructor-sk-213-lc
    Redirect 301 /directions/benches/lines_benches/53 https://elitvid.com/napravleniya/skami/lines/madrid-constructor-sk-214-lc
    Redirect 301 /directions/benches/lines_benches/54 https://elitvid.com/napravleniya/skami/lines/madrid-sk-215-l
    Redirect 301 /directions/benches/lines_benches/55 https://elitvid.com/napravleniya/skami/lines/geneva-sk-216-lr
    Redirect 301 /directions/benches/lines_benches/56 https://elitvid.com/napravleniya/skami/lines/geneva-sk-217-r
    Redirect 301 /directions/benches/lines_benches/57 https://elitvid.com/napravleniya/skami/lines/geneva-sk-218-lr
    Redirect 301 /directions/benches/lines_benches/58 https://elitvid.com/napravleniya/skami/lines/geneva-sk-219-r-ugol-r-70
    Redirect 301 /directions/benches/lines_benches/59 https://elitvid.com/napravleniya/skami/lines/geneva-sk-220-r
    Redirect 301 /directions/benches/solo_benches/60 https://elitvid.com/napravleniya/skami/solo/ck-solo-trio-sk-350-l
    Redirect 301 /directions/benches/solo_benches/61 https://elitvid.com/napravleniya/skami/solo/solo-sk-301-l
    Redirect 301 /directions/benches/solo_benches/62 https://elitvid.com/napravleniya/skami/solo/skamya-solo-sk-301-l
    Redirect 301 /directions/benches/solo_benches/63 https://elitvid.com/napravleniya/skami/solo/solo-sk-303-lv
    Redirect 301 /directions/benches/solo_benches/64 https://elitvid.com/napravleniya/skami/solo/solo-trio-sk-304-l
    Redirect 301 /directions/benches/solo_benches/65 https://elitvid.com/napravleniya/skami/solo/solo-eight-sk-306-l
    Redirect 301 /directions/benches/solo_benches/66 https://elitvid.com/napravleniya/skami/solo/solo-star
    Redirect 301 /directions/benches/solo_benches/74 https://elitvid.com/napravleniya/skami/solo/solo-sk-309
    Redirect 301 /directions/benches/solo_benches/75 https://elitvid.com/napravleniya/skami/solo/solo-star-sk-307
    Redirect 301 /directions/benches/solo_benches/76 https://elitvid.com/napravleniya/skami/solo/solo-star-sk-308
    Redirect 301 /directions/benches/street_furniture_benches/67 https://elitvid.com/napravleniya/skami/street-furniture/sk-ys-001
    Redirect 301 /directions/benches/street_furniture_benches/68 https://elitvid.com/napravleniya/skami/street-furniture/sk-ys-002
    Redirect 301 /directions/benches/street_furniture_benches/69 https://elitvid.com/napravleniya/skami/street-furniture/sk-ys-003
    Redirect 301 /directions/benches/verona_benches/70 https://elitvid.com/napravleniya/skami/verona/stolik-kofeynyy-verona
    Redirect 301 /directions/benches/verona_benches/71 https://elitvid.com/napravleniya/skami/verona/kreslo-kamennoe-verona
    Redirect 301 /directions/benches/verona_benches/72 https://elitvid.com/napravleniya/skami/verona/kamennyy-divan-verona
    Redirect 301 /blog/post/10 https://elitvid.com/blog/post/kashpo-iskusstvennogo-kamnya-sada
    Redirect 301 /blog/post/11 https://elitvid.com/blog/post/preimuschestva-nedostatki-iskusstvennogo-kamnya
    Redirect 301 /blog/post/12 https://elitvid.com/blog/post/chem-kashpo-otlichaetsya-gorshka-osnovnye-otlichiya
    Redirect 301 /blog/post/13 https://elitvid.com/blog/post/polimerbeton-svoystva-preimuschestva-primenenie
    Redirect 301 /blog/post/14 https://elitvid.com/blog/post/gde-kupit-ulichnye-skameyki-lavochki
    Redirect 301 /blog/post/15 https://elitvid.com/blog/post/bolshie-ulichnye-kashpo-tsvetov
    Redirect 301 /blog/post/16 https://elitvid.com/blog/post/vybrat-kashpo-gid-ulichnym-interernym-vazonam-polistouna
    Redirect 301 /blog/post/17 https://elitvid.com/blog/post/kashpo-tsvetov-polistouna
    Redirect 301 /blog/post/18 https://elitvid.com/blog/post/vybrat-ulichnuyu-mebel-dachi-sada-elitvid
    Redirect 301 /blog/post/19 https://elitvid.com/blog/post/10-idey-ispolzovaniem-polistouna
    Redirect 301 /blog/post/20 https://elitvid.com/blog/post/dekorativnye-kashpo-sada-polistouna
    Redirect 301 /blog/post/21 https://elitvid.com/blog/post/kashpo-balkona-polistouna
    Redirect 301 /blog/post/22 https://elitvid.com/blog/post/vybrat-ulichnoe-kashpo-dachi
    Redirect 301 /blog/post/23 https://elitvid.com/blog/post/skameyki-polistouna-stil-komfort
    Redirect 301 /blog/post/24 https://elitvid.com/blog/post/malye-arhitekturnye-formy-maf
    Redirect 301 /blog/post/25 https://elitvid.com/blog/post/izdeliya-betona-zakaz
    Redirect 301 /blog/post/26 https://elitvid.com/blog/post/ulichnye-vazony-vazy-iskusstvennogo-kamnya
    Redirect 301 /blog/post/27 https://elitvid.com/blog/post/ulichnye-skami-polistouna-klassika-stil
    Redirect 301 /blog/post/28 https://elitvid.com/blog/post/kak-maf-preobrazhayut-prostranstvo
    Redirect 301 /blog/post/29 https://elitvid.com/blog/post/vybiraem-ulichnye-vazony-kashpo-stilnogo-sada
    Redirect 301 /blog/post/30 https://elitvid.com/blog/post/kashpo-cvetov-vybrat-kupit
    Redirect 301 /blog/post/31 https://elitvid.com/blog/post/vazony-ulichnye-klumby
    Redirect 301 /blog/post/1 https://elitvid.com/blog/post/chego-delayut-kashpo-vybiraem-luchshiy-material
    Redirect 301 /blog/post/2 https://elitvid.com/blog/post/takoe-polistoun-sovremennoe-blagoustroystvo
    Redirect 301 /blog/post/8 https://elitvid.com/blog/post/ukrasit-fasad-idei-fasadnoy-lepninoy
    Redirect 301 /blog/post/9 https://elitvid.com/blog/post/materialy-parkovyh-skameek
    Redirect 301 /directions/benches/verona_benches https://elitvid.com/napravleniya/skami/verona
    Redirect 301 /directions/benches/street_furniture_benches https://elitvid.com/napravleniya/skami/street-furniture
    Redirect 301 /directions/benches/solo_benches https://elitvid.com/napravleniya/skami/solo
    Redirect 301 /directions/benches/lines_benches https://elitvid.com/napravleniya/skami/lines
    Redirect 301 /directions/benches/stones_benches https://elitvid.com/napravleniya/skami/stones
    Redirect 301 /directions/pots/rectangular_pots https://elitvid.com/napravleniya/kashpo/pryamougolnye
    Redirect 301 /directions/pots/square_pots https://elitvid.com/napravleniya/kashpo/kvadratnye
    Redirect 301 /directions/pots/round_pots https://elitvid.com/napravleniya/kashpo/kruglye
    Redirect 301 /directions/benches https://elitvid.com/napravleniya/skami
    Redirect 301 /directions/pots https://elitvid.com/napravleniya/kashpo
    Redirect 301 /directions/bollards_and_fencing https://elitvid.com/napravleniya/bollardy-ograzhdeniya
    Redirect 301 /directions/rotundas_and_colonnades https://elitvid.com/napravleniya/kamennye-rotondy-kolonny
    Redirect 301 /directions/parklets_and_canopies https://elitvid.com/napravleniya/kamennye-navesy-i-parklety
    Redirect 301 /directions/pillars_and_covers https://elitvid.com/napravleniya/stolby-i-nakryvki-iz-kamnya
    Redirect 301 /directions/facade_stucco_molding_and_panels https://elitvid.com/napravleniya/fasadnaya-lepnina-i-paneli-iz-kamnya
    Redirect 301 /directions/maf https://elitvid.com/napravleniya/malye-arhitekturnye-formy
    Redirect 301 /directions/concrete_products https://elitvid.com/napravleniya/izdelia_iz_betona
    Redirect 301 /directions https://elitvid.com/napravleniya
    Redirect 301 /decorations https://elitvid.com/dekorativnye-elementy-polistouna

    Redirect 301 /napravleniya/parklets_and_canopies https://elitvid.com/napravleniya/kamennye-navesy-i-parklety
    Redirect 301 /napravleniya/facade_stucco_molding_and_panels https://elitvid.com/napravleniya/fasadnaya-lepnina-i-paneli-iz-kamnya
    Redirect 301 /napravleniya/pillars_and_covers https://elitvid.com/napravleniya/stolby-i-nakryvki-iz-kamnya
    Redirect 301 /napravleniya/rotundas_and_colonnades https://elitvid.com/napravleniya/kamennye-rotondy-kolonny
    Redirect 301 /napravleniya/small_architectural_forms https://elitvid.com/napravleniya/malye-arhitekturnye-formy
    Redirect 301 /napravleniya/concrete_products https://elitvid.com/napravleniya/izdeliya-betona
    Redirect 301 /napravleniya/izdelia_iz_betona https://elitvid.com/napravleniya/izdeliya-betona

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* -[E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
